{
  "extends": ["standard", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "one-var": "off",
    "semi": ["error", "always", {
      "omitLastInOneLineBlock": true
    }]
  },
  "settings": {
	"react": {
      "version": "detect"
	}
  },
  "parser": "babel-eslint"
}